header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 60px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #888;
}


main > section{
    padding: 50px;
    margin: 10% auto;
}

section .banner {
    display: flex;
    align-items: center;
}

section .banner-picture {
    width: 40%;
    box-shadow: 5px 9px 9px -5px rgba(153,133,133,0.75);
    -webkit-box-shadow: 5px 9px 9px -5px rgba(153,133,133,0.75);
    -moz-box-shadow: 5px 9px 9px -5px rgba(153,133,133,0.75);
    
}

.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
  }

.img-hover-zoom:hover img {
    transform: scale(1.5);
}

section .banner-desc {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.about-section {
    display: flex;
}

.about-me {
    width: 100%;
    width: 100vw;
    width: -webkit-fill-available;
    width: fill-available;
}

.about-desc {
    padding-right: 30%;
    
}

.grid-work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding-top: 10px;
  }
  
  .grid-item-work {
    aspect-ratio: 1 / 1; 
    width: auto;
    height: auto;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
  }

  .grid-item-work img {
    height: 100%;
    transform: scale(1);
    object-fit: cover;
  }

  .grid-item-work-whatido {
    border: .75px solid #ffffff;
    aspect-ratio: 1 / 1; 
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  section .see-more {
    display: flex;
    align-items: center;
}

section .see-more-picture {
    width: 40%;
    box-shadow: 5px 9px 9px -5px rgba(153,133,133,0.75);
-webkit-box-shadow: 5px 9px 9px -5px rgba(153,133,133,0.75);
-moz-box-shadow: 5px 9px 9px -5px rgba(153,133,133,0.75);
}

section .see-more-desc {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.icon-div {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.contact {
    border-top: 1px solid #ffffff;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 5px;
}

.contact-button {
    border: solid 1px #f4f4f4;
    padding: 10px;
    border-radius: 50px;
    margin: 10px;
    text-align: center;
}

.footer-contact {
    border-top: 1px solid #ffffff;
    padding: 10px;
}
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }
  
